<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CollectMapper">

    <select id="findCollectList" resultType="java.util.Map" parameterType="java.util.Map">
        SELECT ID,c.INFO_ID AS infoId,DATE_FORMAT(i.CREATE_DATE,'%Y-%m-%d %H:%i:%s') AS date,u.IMG,u.NICK_NAME as nickName,i.CONTENT FROM T_W_COLLECT c
         LEFT JOIN T_W_USER u ON  u.id=c.USER_ID
         LEFT JOIN T_W_INFORMATION i ON i.id=c.INFO_ID
         WHERE c.USER_ID=#{userId}
         ORDER BY c.CREATE_DATE DESC
    </select>
    </mapper>