<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="InformationMapper">
    <select id="findInfo" resultType="informationVo" parameterType="java.util.Map">
        SELECT i.id,
        i.USER_ID,
        i.content,
        date_format(i.create_date,'%Y-%m-%d %H:%i:%s') AS create_date,
        u.nick_name,
        u.tag,
        i.info_type,
        i.praise_num,
        i.comment_num,
        i.forward_num,
        i.shield_num,
        u.img AS userImg,
        i.forward_info,
        i.content_type,
        i.offer_money,
        i.offer_time,
        i.forward_ind,
        i.phone_name,
        i.adopt_comment_id
        FROM T_W_INFORMATION i LEFT JOIN T_W_USER u ON u.id=i.user_id
        WHERE 1=1 AND i.VISIBLE=#{visible}
        <if test="lastTime!=null">
            AND i.CREATE_DATE > #{lastTime}
        </if>
        <if test="shields!=null and shields!=''">
            AND i.USER_ID NOT IN ($shields$)
        </if>
        <if test="infoIds!=null and infoIds!=''">
            AND i.ID NOT IN ($infoIds$)
        </if>
        ORDER BY i.CREATE_DATE DESC LIMIT 10
    </select>

    <select id="findOfferInformation" parameterType="java.util.Map" resultType="informationVo">
        SELECT i.USER_ID,
        i.content,
        date_format(i.create_date,'%Y-%m-%d %H:%i:%s') AS create_date,
        u.nick_name,
        u.tag,
        i.info_type,
        i.praise_num,
        i.comment_num,
        i.forward_num,
        i.shield_num,
        u.img AS userImg,
        i.forward_info,
        i.content_type,
        i.offer_money,
        i.offer_time,
        i.forward_ind,
        i.phone_name,
        i.adopt_comment_id FROM T_W_INFORMATION  i LEFT JOIN T_W_USER u ON u.id=i.user_id
        WHERE INFO_TYPE='2'
        <if test="userId!=null and userId!=''">
            AND USER_ID=#{userId}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <select id="findInfoByUserId" resultType="information" parameterType="java.util.Map">
        SELECT * FROM T_W_INFORMATION WHERE 1=1
        <if test="userId!=null and userId!=''">
            AND USER_ID = #{userId}
        </if>
        <if test="visible!=null and visible!=''">
            AND VISIBLE=#{visible}
        </if>
        ORDER BY CREATE_DATE DESC LIMIT #{pageNum},10
    </select>

    <delete id="deleteInfo" parameterType="java.util.Map">
        DELETE FROM T_W_INFORMATION WHERE
        <if test="id!=null and id!=''">
            AND ID=#{id}
        </if>
        <if test="userId!=null and userId!=''">
            AND USER_ID=#{userId}
        </if>
    </delete>

    <select id="findThisMonthInfoCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT COUNT(1) FROM T_W_INFORMATION WHERE
         USER_ID=#{userId}
        AND DATE_FORMAT(CREATE_DATE,'%Y-%m')=DATE_FORMAT(now(),'%Y-%m')
    </select>

    </mapper>