<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PraiseMapper">

    <select id="findPraiseList" resultType="praiseVo" parameterType="java.util.Map">
        SELECT ID,
        INFO_ID,
        USER_ID,
        USER_IMG,
        DATE_FORMAT(CREATE_DATE,"%Y-%m-%d %H:%i:%s") AS CREATE_DATE
        FROM T_W_PRAISE
        WHERE  1=1
        <if test="userId!=null and userId!=''">
            AND USER_ID=#{userId}
        </if>
        <if test="infoId!=null and infoId!=''">
            AND INFO_ID=#{infoId}
        </if>
        ORDER BY CREATE_DATE DESC
    </select>

    <delete id="deletePraise" parameterType="java.util.Map">
        delete FROM T_W_PRAISE WHERE ID=#{id}
    </delete>
    </mapper>