<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RelateToMeMapper">

    <select id="findRelateToMe" resultType="java.lang.String" parameterType="java.util.Map">
        SELECT DATE_FORMAT(CREATE_DATE,"%Y-%m-%d %H:%i:%s") FROM T_W_RELATETOME WHERE 1=1
        <if test="userId!=null and userId!=''">
            AND USER_ID=#{userId}
        </if>
        ORDER BY CREATE_DATE DESC limit 1
    </select>

</mapper>